{% load static %}

<footer
    class="relative max-w-full bg-gradient-to-r from-slate-800 via-slate-800 to-slate-900 pt-12 pb-6 text-slate-400 selection:bg-slate-600 md:pt-24 md:pb-12">
    <div
        class="mx-auto grid max-w-7xl grid-cols-1 px-6 text-xs sm:grid-cols-2 sm:px-8 md:grid-cols-4 md:px-12 md:text-sm">
        <section>
            <h1 class="mb-2 text-sm font-bold text-slate-200/90 md:mb-6 md:text-lg">Use Cases</h1>
            <ul>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Automated Penetration Testing</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Authenticated Web App Scanning</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">External Vulnerability Scan</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Internal Vulnerability Scan</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Wordpress Vulnerability Scan</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">DAST Scan</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Online Port Scanner</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Online Vulnerability Scanner</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Continuous Security Monitoring</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">DevSecOps Scanning</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">Enterprise &amp; Reseller</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="#">MSPs &amp; MSSPs</a></li>
                <li><a class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"
                        href="">Compliance</a></li>
            </ul>
        </section>
        <section class="mt-8 md:mt-0">
            <h1 class="mb-2 text-sm font-bold text-slate-200/90 md:mb-6 md:text-lg">Compliance Use Cases</h1>
            <ul class="mb-8">
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a href="#">ISO
                        27001</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a href="#">SOC
                        2</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">GDPR</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">TPN</a></li>
            </ul>
            <h1 class="mb-2 text-sm font-bold text-slate-200/90 md:mb-6 md:text-lg">Comparisons</h1>
            <ul>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">Qualys vs OrionScan</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">Nessus Tenable vs OrionScan</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">Netsparker vs OrionScan</a></li>
            </ul>
        </section>
        <section class="mt-8 md:mt-0">
            <h1 class="mb-2 mt-8 text-sm font-bold text-slate-200/90 sm:mt-0 md:mb-6 md:text-lg">Scanners</h1>
            <ul class="mb-8">
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">OpenVAS - Network Scan</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">Nmap - Port Scan</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">OWASP ZAP - Web Applications</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">OWASP ZAP - API Security Scan</a></li>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">SSLyze - TLS &amp; SSL</a></li>
            </ul>
            <h1 class="mb-2 text-sm font-bold text-slate-200/90 md:mb-6 md:text-lg">Partners</h1>
            <ul>
                <li class="block py-1 transition-all hover:text-slate-300 motion-reduce:transition-none"><a
                        href="#">Affiliate Referral Program</a></li>
            </ul>
        </section>
        <section
            class="mt-8 border-l-4 border-emerald-300 pl-4 md:mt-0 md:border-r-4 md:border-l-0 md:pr-4 md:text-right">
            <p class="mb-6 text-xl font-extrabold tracking-wide text-slate-300">OrionScan</p>
            <div class="mb-6">
                <div class="mr-4 inline-block h-12">
                    <a href="index.html">
                        <svg width="100%" height="100%" viewBox="0 0 649 650" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <linearGradient x1="8.37200134%" y1="46.3301572%" x2="100%" y2="46.3301572%"
                                    id="linearGradient-1">
                                    <stop stop-color="#075985" offset="0%"></stop>
                                    <stop stop-color="#175C81" offset="51.8265534%"></stop>
                                    <stop stop-color="#075985" offset="100%"></stop>
                                </linearGradient>
                                <linearGradient x1="50%" y1="10.3701531%" x2="48.2483471%" y2="65.3830722%"
                                    id="linearGradient-2">
                                    <stop stop-color="#93CFE6" offset="0%"></stop>
                                    <stop stop-color="#5AA2C9" offset="100%"></stop>
                                </linearGradient>
                            </defs>
                            <path
                                d="M324.236596,0 L324.236,386.869 L324,387.066407 L106.457938,244.114 L105.172438,350.804 L323.697938,458.483054 L324.236,458.193 L324.236596,649.36729 C321.615682,648.950547 316.176959,647.323354 310.976742,645.367038 L310.518596,645.19359 C269.080596,629.40659 213.315596,592.57359 174.148596,555.12059 C93.0515962,477.57059 41.1445962,380.51059 15.5885962,258.63059 C5.30689622,209.59059 -0.996703784,142.15059 0.129596216,93.23059 C0.567891092,74.1935792 3.29481508,69.320305 5.01542622,68.03149 C10.0514262,64.2593 13.3984262,64.3316 36.7874262,68.7305 C78.2964262,76.537 129.411426,75.3812 173.657426,65.632 C214.508426,56.63 245.267426,44.017 289.397426,18.174 C310.020426,6.097 320.743926,0.50031 324.236596,0 Z"
                                id="Left-Side" fill="#1e293b" stroke="#c9d3e0" stroke-width="4"></path>
                            <path
                                d="M474.088,555.12059 C434.921,592.57359 379.156,629.40659 337.718,645.19359 C332.382,647.22659 326.698,648.93829 324,649.36729 L324,458.558954 L623.428162,297.310228 C595.523138,401.2764 546.41439,485.957594 474.088,555.12059 Z M324,0 C327.49267,0.50031 338.21617,6.097 358.83917,18.174 C402.96917,44.017 433.72817,56.63 474.57917,65.632 C518.82517,75.3812 569.94017,76.537 611.44917,68.7305 C634.83817,64.3316 638.18517,64.2593 643.22117,68.03149 C644.941781,69.320305 647.668705,74.1935792 648.107,93.23059 C648.28869,101.122144 648.277033,109.495638 648.086521,118.196088 L324,387.066407 L324,0 Z"
                                id="Right-Side" fill="#475569"></path>
                            <path
                                d="M324,458.558954 L105.172438,350.804 L106.457938,244.114 L324,387.066407 L648.127615,118.163077 C646.279714,146.982767 643.297341,176.352363 639.180498,206.271866 C635.063654,236.191369 629.830642,266.527765 623.48146,297.281056 L324,458.558954 Z"
                                id="Check" opacity="0.9" fill="#FFFFFF"></path>
                        </svg>
                    </a>
                </div>
                <a target="_blank" rel="noopener noreferrer" href="#"
                    class="mr-2 inline-block rounded-full border border-slate-400 p-2 hover:border-slate-300 hover:text-slate-300">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z">
                        </path>
                    </svg>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="#"
                    class="inline-block rounded-full border border-slate-400 p-2 hover:border-slate-300 hover:text-slate-300">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="mb-2"> <a class="block py-1 hover:text-slate-300" href="#">About</a><a
                    class="block py-1 hover:text-slate-300" href="#">Careers</a><a
                    class="block py-1 hover:text-slate-300" href="#">Terms &amp; Policies</a>
                <div class="my-4 ml-24 inline-block border-t border-dashed border-slate-500"></div> <a
                    class="block py-1 hover:text-slate-300" href="mailto:hello@orionscan.com">hello@orionscan.com</a>
            </div>
            <p class="text-xs">2212 Queen Anne Ave N
                <br /> Suite #521
                <br /> Seattle, WA 98109
            </p>
        </section>
    </div>
    <div class="mx-auto max-w-7xl px-6 sm:px-8 md:px-12">
        <p class="mt-8 block text-xs sm:mt-24"> © OrionScan, LLC. 2019 -
            <!-- -->2023
            <!-- -->. All rights reserved.
        </p>
    </div>
</footer>