{% load static %}

<section aria-labelledby="faq-heading" class="pb-18 bg-gradient-to-b from-white to-sky-100/30">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-12 sm:px-6 md:max-w-3xl lg:max-w-7xl lg:px-8">
        <div class="max-w-2xl lg:mx-auto lg:text-center">
            <h2 id="faq-heading" class="text-3xl font-bold tracking-tight sm:text-4xl">Frequently asked
                questions</h2>
            <p class="mt-4 max-w-2xl text-slate-600">Our
                <!-- --><a class="text-sky-500 hover:text-sky-600 hover:underline" href="#" target="_blank"
                    rel="noreferrer">knowledge
                    base</a>
                <!-- -->contains answers to technical questions, and you can always
                <!-- --><a class="text-sky-500 hover:text-sky-600 hover:underline"
                    href="mailto:hello@orionscan.com">contact us</a>
                <!-- -->for more details on our plans, pricing, or any questions.
            </p>
        </div>
        <div class="mt-12 sm:mt-20">
            <dl class="space-y-10 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-10 lg:space-y-0">
                <div>
                    <dt class="font-semibold">Can I try OrionScan for free?</dt>
                    <dd class="mt-3 text-slate-600">
                        <p>Yes! OrionScan is completely free to try with our free plan.</p>
                        <p class="mt-4">If you have any questions, please
                            <!-- --><a class="text-sky-500 hover:text-sky-600 hover:underline"
                                href="mailto:hello@orionscan.com">contact us</a>
                            <!-- -->and we would be happy to discuss further.
                        </p>
                    </dd>
                </div>
                <div>
                    <dt class="font-semibold">What counts as a Scan?</dt>
                    <dd class="mt-3 text-slate-600">
                        <p>A Scan is each time we successfully run a vulnerability scan against one of your servers or
                            endpoints, which we call Targets.</p>
                        <p class="mt-4">For example, running OWASP ZAP against your web server example.com would count
                            as a single Scan.</p>
                    </dd>
                </div>
                <div>
                    <dt class="font-semibold">What counts as a Target?</dt>
                    <dd class="mt-3 text-slate-600">
                        <p>A Target represents an individual IP address, URL, or domain you create as a target. Targets
                            created from third party risks sources like Dependabot, or internal scans do not count
                            toward your target limit.</p>
                    </dd>
                </div>
                <div>
                    <dt class="font-semibold">How can we identify incoming traffic from OrionScan?</dt>
                    <dd class="mt-3 text-slate-600">
                        <p>OrionScan maintains reverse DNS to scanners.orionscan.com for all of our servers, so that the
                            IP addresses can be easily identified.</p>
                        <p class="mt-4"><a class="text-sky-500 hover:text-sky-600 hover:underline" href="#"
                                target="_blank" rel="noreferrer">Our knowledge base</a>
                            <!-- -->has more information on how to get a full list of IP addresses.</p>
                    </dd>
                </div>
                <div>
                    <dt class="font-semibold">Can I cancel my plan at any time?</dt>
                    <dd class="mt-3 text-slate-600">
                        <p>There&#x27;s no contract commitment so you can cancel at any time. Your plan will stop at the
                            end of the current billing cycle.</p>
                        <p class="mt-4">Our knowledge base has instructions for how to
                            <!-- --><a class="text-sky-500 hover:text-sky-600 hover:underline" href="#">cancel
                                your subscription.</a>
                        </p>
                    </dd>
                </div>
                <div>
                    <dt class="font-semibold">Where can I find your Terms and Privacy Policy?</dt>
                    <dd class="mt-3 text-slate-600">
                        <p>You may find our Terms of Service and Privacy Policy at
                            <!-- --><a class="text-sky-500 hover:text-sky-600 hover:underline" href="#">Terms
                                &amp; Policies.</a>
                        </p>
                        <p class="mt-4">If you have any questions, please
                            <!-- --><a class="text-sky-500 hover:text-sky-600 hover:underline"
                                href="mailto:hello@orionscan.com">contact us</a>.
                        </p>
                    </dd>
                </div>
                <div>
                    <dt class="font-semibold">What payment methods are accepted?</dt>
                    <dd class="mt-3 text-slate-600">
                        <p>We accept Visa, Mastercard and American Express via our payments provider Stripe.com. Plans
                            can either be month-to-month or annual.</p>
                        <p class="mt-4">If you require alternate payments methods such as bank transfer or check, or
                            require a PO, please
                            <!-- --><a class="text-sky-500 hover:text-sky-600 hover:underline"
                                href="mailto:hello@orionscan.com">contact us</a>.
                        </p>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="mt-8 sm:mt-24">
            <div class="mx-auto flex max-w-7xl">
                <div class="mx-auto">
                    <div
                        class="group relative mx-auto rounded-lg border border-gray-300 bg-white/50 p-8 text-center backdrop-blur-sm selection:bg-teal-100 md:p-16">
                        <div class="pointer-events-none">
                            <div class="absolute inset-0 bg-gradient-to-r from-orange-300/20 to-red-400/5 opacity-0 transition duration-300 group-hover:opacity-100"
                                style="mask-image:radial-gradient(180px at 0px 0px, white, transparent);-webkit-mask-image:radial-gradient(180px at 0px 0px, white, transparent)">
                            </div>
                            <div class="absolute inset-0 opacity-0 mix-blend-normal transition duration-300 group-hover:opacity-100"
                                style="mask-image:radial-gradient(180px at 0px 0px, white, transparent);-webkit-mask-image:radial-gradient(180px at 0px 0px, white, transparent)">
                            </div>
                        </div>
                        <div class="relative z-20">
                            <div class="mb-6 md:mb-8"><span
                                    class="mr-4 font-bold tracking-tight text-black md:text-xl lg:text-2xl">Any
                                    questions?
                                </span><span class="font-light md:text-xl lg:text-2xl">Our team is here
                                    to help.</span></div>
                            <div class="border-t border-gray-200 pt-8 md:pt-10">
                                <a class=" mr-8 block w-full rounded-md bg-black p-3 text-sm font-bold text-white shadow transition-all hover:bg-gray-600 hover:opacity-100 hover:shadow-md motion-reduce:transition-none md:inline-block md:w-auto md:px-6 md:py-4 md:text-base"
                                    href="{% url 'pricing' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                        class="mr-1 inline-block h-6 w-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z">
                                        </path>
                                    </svg> View our pricing plans</a>
                                <a href="mailto:hello@orionscan.com?subject=Customer%20Support"
                                    class="mt-4 mr-8 block w-full rounded-md border border-gray-400 bg-white p-3 text-sm font-bold text-gray-800 shadow transition-all hover:border-gray-600/50 hover:opacity-100 hover:shadow-md motion-reduce:transition-none sm:mt-6 md:mt-0 md:mb-0 md:inline-block md:w-auto md:px-6 md:py-4 md:text-base">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                        class="mr-1 inline-block h-6 w-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75">
                                        </path>
                                    </svg> Email us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>